* {
    box-sizing: border-box;
}


#moviesWindow {
    display: none;
    background: whitesmoke;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.img-fluid {
    width: 100%;
    height: max-content;
}

.movies__title{
    text-align: center;
    font-family: "Patrick Hand", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 5rem;
    color: brown;
}

.movies__text {
    background-color: black;
    color: white;
    padding: 5px;
    font-size: clamp(1.3rem, 1.2217rem + 0.3478vw, 1.5rem);
    font-family: "Molengo", serif;
    font-weight: 400;
}