@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Molengo&family=Oswald:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: black;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}
 /*Estilos del deslizador*/
body::-webkit-scrollbar-thumb {
    background: linear-gradient(#3b2d2b, #300a05);
    border-radius: 1rem;
}

.section__bar {
    border-bottom: 2px solid white;
}
/*Estilos del título principal */
.title__movies {
    display: flex;
    flex-flow: column nowrap;
    padding: 20px 40px;
}

.title {
    color: #66251D;
    font-family: "Oswald", serif;
    font-weight: 500; 
    font-style: normal;
    text-align: center;
    font-size: clamp(5rem, 4.2174rem + 3.4783vw, 7rem);
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white, -2px 2px 0 white, 2px 2px 0 white, 1px 1px white, 2px 2px white, 3px 3px white, 4px 4px white, 5px 5px white, 6px 6px white, 7px 7px white, 8px 8px white, 9px 9px white;
}

/*Barra de Búsqueda*/
/*Definición de variables barra de búsqueda*/
:root {
    --bg: #F0F0F0;
    --input-bg: white;
    --text: #27292B;
    --item-hover: #f6f6f6;
}
/*Estilos barra de búsqueda*/
.search-box {
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    background: var(--input-bg);
    border-radius: 0.5rem;
    padding: 0.75rem;
    max-width: 80vw;
    height: fit-content;
    width: 100%;
    box-shadow: rgba(149, 157,165, 0.2) 0px 8px 24px;
}

.row {
    display: flex;
    align-items: center;
}
/*Estilos iconos barra de búsqueda*/
button {
    background: transparent;
    border: 0;
    outline: 0;
    padding: 0.5rem;
}
/*Estilos entrada de texto barra de búsqueda*/
input {
    flex: 1;
    max-height: 2.5rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: var(--text);
}

.search-box svg {
    stroke: var(--text)
}
/*Estilos resultados barra de búsqueda*/
.results {
    max-height: 20rem;
    overflow-y: auto;
}

.results ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 0.25rem;
}

.results ul li {
    list-style: none;
    border-radius: 0.25rem;
    padding: 1rem 0.75rem;
}

.results ul li:hover {
    background: var(--item-hover);
    border-radius: 0.25rem;
}

.result-item {
    list-style: none;
    padding: 10px;
}

.result-item:hover {
    background: #66251D;
    color: white;
}